root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space

[{*.cs,*.js,*.ts,*.py,*.json}]
trim_trailing_whitespace = true

[{*.cs,*.js,*.ts}]
tab_width = 2

[*.py]
tab_width = 4
