# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  debugConfiguration: 'Debug'
  releaseConfiguration: 'Release'

steps:
- script: dotnet build --configuration $(debugConfiguration)
  displayName: 'dotnet build $(debugConfiguration)'

- script: dotnet test -p:CollectCoverage=true --logger:trx -p:CoverletOutputFormat=cobertura
  displayName: 'dotnet test with coverage'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/TestResults/*.trx'
    mergeTestResults: true

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'Cobertura'
    summaryFileLocation: 'ApiCallTests/coverage.cobertura.xml'

- script: dotnet build --configuration $(releaseConfiguration)
  displayName: 'dotnet build $(releaseConfiguration)'
